/************************************************************************************
 *
 * File Name  : style.css
 * Description: This file contains the layout styling of the whole program
 * Authors     : Maye Khaled & Mariam Wael
 *
 ************************************************************************************/

:root {
    --main-radius: 10px;
    --main-padding: 5px;
    --clr-graylight: #cfd8dc;
    --clr-graymed: #90a4ae;
    --radius: 10px;
    --animation-curve: cubic-bezier(0.34, 1.36, 0.2, 1);
}

body {
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
}

html {
    background-color: #A8A8A8;
    opacity: 0.9;
}

/*** Style Navbar ***/
.main-nav {
    background-color: #000000;
    height: 40px;
    position: center;
    margin-top: -1.3rem;
    margin-bottom: 2px;
    margin-left: -8px;
    width: 101%;
}

.main-nav h1 {
    color: #ffffff;
    font-family: 'Arial', serif;
    font-size: 21px;
    font-weight: lighter;
    line-height: 1;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: left;
    padding-top: 11px;
    margin-left: 10px;
}

.navbar {
    align-items: center;
    align-content: center;
    position: center;
    margin-left: 700px;
    margin-right: 25px;
    margin-bottom: 5px;
    height: fit-content;
    display: block;
}


/*** Style buttons ***/
.tab-link {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 13px;
    height: 30px;
    width: 15%;
    font-weight: bolder;

}

#design\ defaultOpen {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#filter {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.tab-link:hover {
    background-color: #777;
}

/* Style the tab content */
.tab-content {
    color: white;
    display: none;
    height: 100%;
}


/*** Application's body ***/


.main-container {
    display: grid;
    height: fit-content;
    width: fit-content;
    font-weight: 800;
    font-size: 18px;
    color: black;
    text-align: center;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 10px;
    grid-template-columns: 0.5fr 1fr;
    grid-template-areas:
    "circle graphs";
}

.container{
    display: grid;
    height: fit-content;
    width: fit-content;
    grid-gap: 1rem;
    font-weight: 800;
    font-size: 18px;
    color: black;
    text-align: center;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 10px;
}

#circle {
    grid-template-columns: 0.1fr 0.4fr;
    grid-template-rows:  0fr 0fr;
    grid-template-areas:
    "menu1 content1"
    "menu2 content2";
}

#graphs {
    grid-template-columns: 0.4fr 0.4fr;
    grid-template-rows:  0fr 0fr 0fr 0fr;
    grid-template-areas:
    "label3 label5"
    "content3 content5"
    "label4 label6"
    "content4 content6";
}

/*** Side control menu ***/
.sidebar {
    width: 50px;
    height: fit-content;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    background: rgba(255, 255, 255, 0.65);
    box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
    border-right: 2px solid rgba(255, 255, 255, .09);
    transition: .4s ease-in-out;
    align-items: center;
    border-radius: 10px;
}

#menu2 {
    grid-area: menu2;
    margin-top: 3px;
}

#menu1 nav .nav-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 4px;
    margin-left: -26px;
    margin-top: 5px;
    width: 26px;
    height: 56px;
    color: rgb(0, 0, 0);
    transition: .3s;
}

#menu1 nav .nav-item i {
    font-size: 26px;
}

#menu1 nav .nav-item.active {
    background: rgba(0, 0, 0, 0.1) !important;
    width: 26px;
    height: 40px;
}

#menu1 nav .nav-item:hover {
    background: rgba(255, 255, 255, .1);
}

#menu2 nav .nav-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 4px;
    margin-left: -26px;
    margin-top: 5px;
    width: 26px;
    height: 56px;
    color: rgb(0, 0, 0);
    transition: .3s;
}

#menu2 nav .nav-item i {
    font-size: 26px;
}

#menu2 nav .nav-item.active {
    background: rgba(0, 0, 0, 0.1) !important;
    width: 26px;
    height: 40px;
}

#menu2 nav .nav-item:hover {
    background: rgba(255, 255, 255, .1);
}

.icon-bar {
    grid-area: menu2;
    width: 70px;
    height: fit-content;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    background: rgba(255, 255, 255, 0.65);
    box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
    border-right: 2px solid rgba(255, 255, 255, .09);
    transition: .4s ease-in-out;
    align-items: center;
    border-radius: 10px;
    overflow: auto;
    margin-bottom: 20px;
}

.icon-bar a {
    float: left;
    width: 50%;
    align-self: center;
    text-align: center;
    padding: 6px 0;
    transition: all 0.3s ease;
    color: black;
    font-size: 20px;
}

.icon-bar a:hover {
    background-color: white;
}

.icon-bar p {
    font-size: 15px;
    margin: 5px;
}

#menu1 {
    grid-area: menu1;
    margin-top: 25px;
}

#pause {
    width: 50px;
    height: 42px;
    margin-left: 10px;
    align-items: center;
    overflow: hidden;
}

#pause a {
    font-size: 25px;
}


/*** Boxes ***/
.content {
    border-top-left-radius: var(--main-radius);
    border-bottom-left-radius: var(--main-radius);
    border-bottom-right-radius: var(--main-radius);
    padding-top: var(--main-padding);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #f4f4f4;
    box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
}

#content1 {
    grid-area: content1;
    border-top-right-radius: var(--main-radius);
    margin-top: 25px;
    height: 350px;
    width: 350px;
}

#content2 {
    grid-area: content2;
    border-top-right-radius: var(--main-radius);
    height: 220px;
    width: 350px;
}

#content3 {
    grid-area: content3;
    height: 285px;
    width: 500px;
}

#content4 {
    grid-area: content4;
    height: 285px;
    width: 500px;
}

#content5 {
    grid-area: content5;
    height: 285px;
    width: 500px;
}

#content6 {
    grid-area: content6;
    height: 285px;
    width: 500px;
}



.labelcontent{
    border-top-left-radius: var(--main-radius);
    border-top-right-radius: var(--main-radius);
    padding-top: var(--main-padding);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #f4f4f4;
    box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
    margin-left: 330px;
    margin-bottom: -17px;
    height: 20px;
    width: 170px;
    font-weight: 200; 
    font-size: 16px;

}

#label3 {
    grid-area: label3;
}
#label4 {
    grid-area: label4;
}
#label5 {
    grid-area: label5;
}
#label6 {
    grid-area: label6;
}

/*** Canvas inside boxes ***/
.canvas {
    background-color: white;
    width: 95%;
    height: 95%;
    object-fit: contain;
    align-self: center;
    border-radius: var(--main-radius);
    overflow: hidden

}


@media only screen and (max-width: 550px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
      "sidebar"
      "content1"
      "content2"
      "content3"
      "content4"
      "content5"
      "content6";

    }
}

/* all pass page */

.main-container2 {
    display: grid;
    height: fit-content;
    width: fit-content;
    font-weight: 800;
    font-size: 18px;
    color: black;
    text-align: center;
    margin-top: 30px;
    margin-right: 20px;
    margin-left: 10px;
    grid-template-columns: 1.5fr 3fr 6fr;
    grid-template-areas:
    "catalogue addfilter graphs2 ";
}

.container-2 {
    display: grid;
    height: fit-content;
    width: fit-content;
    grid-gap: 1rem;
    font-weight: 800;
    font-size: 18px;
    color: black;
    text-align: center;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 10px;
}

#catalogue {
    grid-template-columns: 1.5fr;
    grid-template-rows:  0fr;
    grid-template-areas:
    "cata"
}

#graphs2 {
    grid-template-columns: 3fr;
    grid-template-rows:  0fr 0fr 0fr 0fr;
    margin-left: -120px;
    grid-template-areas:
    "label7"
    "content7"
    "label8 "
    "content8";
}

#addfilter {
    margin-top: 50px;
    margin-left: 120px;
    grid-template-columns: 3fr;
    grid-template-rows:  0fr;
    grid-template-areas:
    "addfil ";
}


#cata {
    grid-area: cata;
    width: 280px;
    height: 150px;
    margin-top: 80px;
    margin-left: -20px;
    transform: rotate(90deg);
}

.left {
    position: absolute;
    left: -21px;
    bottom: 70%;
    transform: translateY(-50%);
}

.right {
    position: absolute;
    right: -253px;
    top: 20%;
    transform: translateY(-50%);
}

.scroll-images {
    width: 500px;
    height: 200px;
    margin-top: -70px;
    padding-top: 0px;
    padding-left: 0px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.child img {
    width: 162px;
    height: 94%;
    margin-left: -9px;
    object-fit: cover;
    object-position: center;
}

.child :hover, .img-selected {
    transform: scale(1.2);
}

.scroll-images::-webkit-scrollbar {
    display: none;
}


.child {
    min-width: 208px;
    height: 111px;
    margin: 39px -39px;;
    overflow: hidden;
    transform: rotate(-90deg);
}

.right, .left {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

/*** Boxes ***/
.content-2 {
    border-top-left-radius: var(--main-radius);
    border-bottom-left-radius: var(--main-radius);
    border-bottom-right-radius: var(--main-radius);
    padding-top: var(--main-padding);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #f4f4f4;
    box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
}

#content7 {
    margin-top: -20px;
    margin-left: 150px;
    margin-bottom: 10px;
    grid-area: content7;
    height: 300px;
    width: 780px;
}

#content8 {
    margin-top: -20px;
    margin-left: 150px;
    grid-area: content8;
    height: 300px;
    width: 780px;
}


.labelcontent2{
    border-top-left-radius: var(--main-radius);
    border-top-right-radius: var(--main-radius);
    padding-top: var(--main-padding);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #f4f4f4;
    box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
    margin-left: 800px;
    /*margin-bottom: -2px;*/
    margin-top: -17px;
    height: 20px;
    width: 130px;
    font-weight: 200; 
    font-size: 16px;

}


#label7 {
    grid-area: label7;
}

#label8 {
    grid-area: label8;
}


#addfil {
    grid-area: addfil;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    width: 435px;
    height: 526px;
    margin-left: -80px;

}

#all-pass-filters {
    border-radius: 10px;
    width: 310px;
    height: 330px;
    margin-top: 5px;
    background-color: rgb(218, 216, 216);
}

.allpass {
    padding-top: 2px;
}

.selected {
    border-radius: 5px;
    background-color: rgb(166, 166, 166);

}

#all-pass-value {
    border-radius: 10px;
    border: 1px solid #ccc;
    background: #ffffff;
    box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
    width: 150px;
    height: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: -120px;
}

#all-pass-value:hover {
    background-color: #fff;
    border: 3px rgb(166, 166, 166) solid;
}

.btn2 {
    border: 0px rgb(166, 166, 166) solid;
    border-radius: 10px;
    background-color: #000000;
    width: 100px;
    height: 30px;
    margin-bottom: 13px;
    font-size: 15px;
    color: white;
}

.btn2:hover {
    background-color: gray;
}

.btn2:active {
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}

#add-all-pass-btn{
    margin-top: -40px;
    margin-right: -170px;
}

#remove-all-pass-btn{
    margin-right: 138px;
}

#clear-all-pass{
    margin-top: -43px;
    margin-right: -140px;
}

.canvas {
    background-color: white;
    width: 95%;
    height: 95%;
    object-fit: contain;
    align-self: center;
    border-radius: var(--main-radius);
}

@media only screen and (max-width: 550px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 0.5fr 1fr 1fr 1fr;
        grid-template-areas:
      "menu1"
      "cata"
      "addfil"
      "content7"
      "content8";
    }
}

