<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Konva Demo</title>
    <script src="https://unpkg.com/konva@8.4.2/konva.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.6.1/d3.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <link rel="stylesheet" href="../static/styles/test.css">
</head>
<body>
<button id="toggle">
    toggle
</button><button id="zeross">
    zeros shape
</button>
<button id="poless">
    poles shape
</button>
<button id="zorar">
    poles shape
</button>
<a id="download-btn">
    <button>Download</button>
</a>



<input type="file" id="upload-btn">
<div>
    <div id="container" style="display: inline-block"></div>
    <div id="pad" style="display: inline-block"></div>
</div>

<div id="container2">
    <div id="plot-1" style="width: 30%; display: inline-block"></div>
    <div id="plot-2" style="width: 30%; display: inline-block"></div>
    <div id="plot-3" style="width: 30%; display: inline-block"></div>
</div>

<div id="all-pass-filters" style="width: 350px; height: 500px; background-color: blue">
    <div id="121" class="allpass">
        Hima
        Hima
    </div>

    <div id="122" class="allpass">
        Hoda
        Hoda
    </div>
</div>
<input id="all-pass-value" type="text">
<button id="add-all-pass-btn">
    add filter
</button>
<button id="remove-all-pass-btn">
    remove
</button>
<script src="../static/js/helpersFunctions.js"></script>
<script src="../static/js/DrawingBoard.js"></script>
<script src="../static/js/PlottedSignal.js"></script>
<script src="../static/js/DynamicPlot.js"></script>
<script src="../static/js/Filter.js"></script>
<script src="../static/js/request.js"></script>
<script src="../static/js/UI-Handlers.js"></script>
<script src="../static/js/app.js"></script>
<script>
    document.getElementById('toggle').addEventListener('click', function () {
        drawZero = !drawZero;
    });
    document.getElementById('zeross').addEventListener('click', function () {
        console.log(unitCircleBoard.getZeroes)
    });
    document.getElementById('poless').addEventListener('click', function () {
        console.log(unitCircleBoard.getPoles)
    });
    document.getElementById('zorar').addEventListener('click', function () {
        unitCircleBoard.layer.destroyChildren();
    });
</script>
</body>
</html>